.main-module {
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    min-height: 80px;
    background: #ccc;
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}