<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="slot" name="head"></script>
</head>
<body>

<div class="main">
    <!--<div class="header-wrapper">-->
        <!--<fragment src="http://localhost:8084"></fragment>-->
    <!--</div>-->

    <div class="wrapper">
        <slot name="body-start"></slot>
    </div>

    <!--<div class="footer-wrapper">-->
        <!--<fragment src="http://localhost:8085"></fragment>-->
    <!--</div>-->

</div>

</body>
</html>